<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
  <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}
{%- if section.settings.menu_type_desktop == 'mega' -%}
  <link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
  <noscript>{{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}</noscript>
{%- endif -%}

{%- if settings.cart_type == "drawer" -%}
  {{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
  {{ 'component-cart.css' | asset_url | stylesheet_tag }}
  {{ 'component-totals.css' | asset_url | stylesheet_tag }}
  {{ 'component-price.css' | asset_url | stylesheet_tag }}
  {{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'search-form.js' | asset_url }}" defer="defer"></script>
{%- if settings.cart_type == "drawer" -%}
  <script src="{{ 'cart-drawer.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
  <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
  </symbol>

  <symbol id="icon-reset" class="icon icon-close"  fill="none" viewBox="0 0 18 18" stroke="currentColor">
    <circle r="8.5" cy="9" cx="9" stroke-opacity="0.2"/>
    <path d="M6.82972 6.82915L1.17193 1.17097" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
    <path d="M1.22896 6.88502L6.77288 1.11523" stroke-linecap="round" stroke-linejoin="round" transform="translate(5 5)"/>
  </symbol>

  <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
    <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
  </symbol>
</svg>

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<{% if section.settings.sticky_header_type != 'none' %}sticky-header data-sticky-type="{{ section.settings.sticky_header_type }}"{% else %}div{% endif %} class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  {%- liquid
    assign social_links = false
    assign localization_forms = false

    if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_pinterest_link != blank or settings.social_instagram_link != blank or settings.social_youtube_link != blank or settings.social_vimeo_link != blank or settings.social_tiktok_link != blank or settings.social_tumblr_link != blank or settings.social_snapchat_link != blank
      assign social_links = true
    endif

    if localization.available_countries.size > 1 and section.settings.enable_country_selector or section.settings.enable_language_selector and localization.available_languages.size > 1
      assign localization_forms = true
    endif
  -%}
  <div class="tw-lg:block">

  <div class="Header__background-fill"></div>

  <div class="Header__desktop-container js-inview-entry is-inview">

    <div class="Header__desktop-left">
      <ul class="Header__desktop-items Header__desktop-items--left">           <li class="Header__desktop-item">                <button class="Header__action js-desktop-drawer-toggle" aria-label="Open Shop All Drawer" data-section-type="all-products" aria-expanded="false">
                <span class="Header__action-text sub2">Shop All</span>
              </button>           </li>           <li class="Header__desktop-item">                <button class="Header__action js-desktop-drawer-toggle" aria-label="Open Sets Drawer" data-section-type="sets" aria-expanded="false">
                <span class="Header__action-text sub2">Sets</span>
              </button>           </li>           <li class="Header__desktop-item">                <button class="Header__action js-desktop-drawer-toggle" aria-label="Open Complexion Drawer" data-section-type="complexion" aria-expanded="false">
                <span class="Header__action-text sub2">Complexion</span>
              </button>           </li>           <li class="Header__desktop-item">                <button class="Header__action js-desktop-drawer-toggle" aria-label="Open Cheeks Drawer" data-section-type="cheeks" aria-expanded="false">
                <span class="Header__action-text sub2">Cheeks</span>
              </button>           </li>           <li class="Header__desktop-item">                <button class="Header__action js-desktop-drawer-toggle" aria-label="Open Eyes Drawer" data-section-type="eyes" aria-expanded="false">
                <span class="Header__action-text sub2">Eyes</span>
              </button>           </li>           <li class="Header__desktop-item">                <button class="Header__action js-desktop-drawer-toggle" aria-label="Open Lips Drawer" data-section-type="lips" aria-expanded="false">
                <span class="Header__action-text sub2">Lips</span>
              </button>           </li>           <li class="Header__desktop-item">                <button class="Header__action js-desktop-drawer-toggle" aria-label="Open New Drawer" data-section-type="new" aria-expanded="false">
                <span class="Header__action-text sub2">New</span>
              </button>           </li>       </ul>
    </div>

    <div class="Header__desktop-center">
      <ul class="Header__desktop-items Header__desktop-items--center">
        <li class="Header__desktop-item">
          <a href="/" title="MERIT Beauty" class="Header__action--open Header__action--spaced">
            <span class="Header__desktop-brand">

<div class="InlineSvg">
  <div data-aspect="0.16" class="InlineSvg__container InlineSvg__logo" style="padding-bottom:16.0%">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="781" height="122" viewBox="0 0 781 122">
      <g fill="none" fill-rule="evenodd">
        <g fill="#000">
          <g>
            <path d="M160 122L135.428 122 135.428 34.146 82.033 122 75.012 122 22.909 33.96 22.909 122 0 122 0 0 32.149 0 80.37 79.549 127.667 0 160 0 160 122M336 98.745L336 122 218 122 218 0 335.263 0 335.263 23.255 244.652 23.255 244.652 47.25 312.15 47.25 312.15 70.505 244.652 70.505 244.652 98.745 336 98.745M410.776 53.71h68.506c10.894 0 17.357-5.723 17.357-15.318 0-9.598-6.463-15.137-17.357-15.137h-68.506V53.71zm45.24 23.255h-45.24V122H384V0h99.343c24.376 0 40.993 15.32 40.993 38.392 0 20.117-14.955 34.144-37.113 35.619L526 122h-33.422l-36.562-45.035zM576 122L603 122 603 0 576 0zM781 24.362L726.778 24.362 726.778 122 700.036 122 700.036 24.362 646 24.362 646 0 781 0 781 24.362" transform="translate(-330 -394) translate(330 394)"></path>
          </g>
        </g>
      </g>
    </svg>
  


  </div>

</div>
</span>

            <span class="Header__desktop-brand Header__desktop-brand--alt">

<div class="InlineSvg">
  <div data-aspect="0.16" class="InlineSvg__container InlineSvg__logo-alt" style="padding-bottom:16.0%">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="781" height="122" viewBox="0 0 781 122">
      <g fill="none" fill-rule="evenodd">
        <g fill="#F9F8F5">
          <g>
            <path d="M160 122L135.428 122 135.428 34.146 82.033 122 75.012 122 22.909 33.96 22.909 122 0 122 0 0 32.149 0 80.37 79.549 127.667 0 160 0 160 122M336 98.745L336 122 218 122 218 0 335.263 0 335.263 23.255 244.652 23.255 244.652 47.25 312.15 47.25 312.15 70.505 244.652 70.505 244.652 98.745 336 98.745M410.776 53.71h68.506c10.894 0 17.357-5.723 17.357-15.318 0-9.598-6.463-15.137-17.357-15.137h-68.506V53.71zm45.24 23.255h-45.24V122H384V0h99.343c24.376 0 40.993 15.32 40.993 38.392 0 20.117-14.955 34.144-37.113 35.619L526 122h-33.422l-36.562-45.035zM576 122L603 122 603 0 576 0zM781 24.362L726.778 24.362 726.778 122 700.036 122 700.036 24.362 646 24.362 646 0 781 0 781 24.362" transform="translate(-330 -394) translate(330 394)"></path>
          </g>
        </g>
      </g>
    </svg>
  


  </div>

</div>
</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="Header__desktop-right">
      <ul class="Header__desktop-items Header__desktop-items--right">
           <li class="Header__desktop-item">
            <a href="/blogs/stories" title="Stories" class="Header__action">
              <span class="Header__action-text sub2">
                Stories
              </span>
            </a>
          </li>         <li class="Header__desktop-item">
          <button class="Header__action Header__action--spaced js-slider-toggle" aria-label="Show Search Form" data-slider-type="Search">
            <span class="Header__desktop-search">

<div class="InlineSvg">
  <div data-aspect="1" class="InlineSvg__container InlineSvg__search" style="padding-bottom:100%">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
      <g>
        <path d="M8.808 0C3.95 0 0 3.951 0 8.808c0 4.856 3.951 8.807 8.808 8.807 4.856 0 8.807-3.95 8.807-8.807S13.665 0 8.808 0zm0 15.99c-3.96 0-7.182-3.223-7.182-7.182 0-3.96 3.222-7.182 7.182-7.182 3.96 0 7.181 3.222 7.181 7.182 0 3.96-3.222 7.181-7.181 7.181z"></path>
        <path d="M19.762 18.612L15.1 13.951c-.318-.318-.832-.318-1.15 0-.318.317-.318.832 0 1.15l4.661 4.66c.159.16.367.239.575.239.208 0 .416-.08.575-.238.317-.318.317-.832 0-1.15z"></path>
      </g>
    </svg>
  


  </div>

</div>
</span>
          </button>
        </li> 
        <li class="Header__desktop-item">
          <button class="Header__action sub2 js-desktop-drawer-toggle" aria-label="USD" data-section-type="currency">
            USD
          </button>
        </li>

        <li class="Header__desktop-item"><button class="Header__action sub2 js-slider-toggle" aria-label="Login" data-slider-type="Account">
              LOGIN
            </button></li>

        <li class="Header__desktop-item">
          <a href="/cart" class="Header__action Header__action--mini-cart js-slider-toggle" data-slider-type="MiniCart" aria-label="Show mini cart">
            <span class="sub2">
              CART
            </span>

            <span class="Header__action-icon">
  <span class="circle-icon"></span>
  <span class="Header__mini-cart-count mh13 js-mini-cart-count">
    0
  </span>
</span>


          </a>

        </li>
      </ul>
    </div>
  </div>
  

<div class="HeaderDesktopDrawer js-desktop-drawer js-desktop-drawer-scroll-container"> 
      <div class="HeaderDesktopDrawer__section HeaderDesktopDrawer__collection-drawer js-desktop-drawer-section" data-section-type="all-products"> 
<div class="HeaderDrawerCollection">
  <div class="HeaderDrawerCollection__row">
    <ul class="HeaderDrawerCollection__items">

       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/signature-lip" title="View Signature Lip" aria-label="View Signature Lip">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/6976925073594/1644425138891/Signature-Lip.png?v=1712681536436&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/6976925073594/1644425138891/Signature-Lip.png?v=1712681536436&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Signature Lip
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Lightweight Lipstick
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/flush-balm" title="View Flush Balm" aria-label="View Flush Balm">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663762251933/1606346448588/Flush-Balm.png?v=1712681416542&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663762251933/1606346448588/Flush-Balm.png?v=1712681416542&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Flush Balm
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Cheek Color
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-minimalist" title="View The Minimalist" aria-label="View The Minimalist">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663763726493/1606346452951/Minimalist.png?v=1712681481513&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663763726493/1606346452951/Minimalist.png?v=1712681481513&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Minimalist
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Perfecting Complexion Stick
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/brush-no-1" title="View Brush No.1" aria-label="View Brush No.1">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663760056477/1606346441837/Brush-No-1.png?v=1712681298345&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663760056477/1606346441837/Brush-No-1.png?v=1712681298345&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Brush No.1
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Blending Brush
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/day-glow" title="View Day Glow" aria-label="View Day Glow">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663767068829/1606346446165/Day-Glow.png?v=1712681381744&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663767068829/1606346446165/Day-Glow.png?v=1712681381744&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Day Glow
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Highlighting Balm
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/great-skin-serum" title="View Great Skin" aria-label="View Great Skin">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7183477964986/1663334232437/Great-Skin.png?v=1712681446488&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7183477964986/1663334232437/Great-Skin.png?v=1712681446488&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Great Skin
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Instant Glow Serum
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/shade-slick" title="View Shade Slick" aria-label="View Shade Slick">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663769133213/1606346450911/Shade-Slick.png?v=1712681505637&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663769133213/1606346450911/Shade-Slick.png?v=1712681505637&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Shade Slick
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Tinted Lip Oil
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/solo-shadow" title="View Solo Shadow" aria-label="View Solo Shadow">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7410780930234/1692110116141/Solo-Shadow.png?v=1712681564539&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7410780930234/1692110116141/Solo-Shadow.png?v=1712681564539&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Solo Shadow
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Matte Eye Color
            </div>
          </a>
        </li>
      

    </ul>
  </div>

  <div class="HeaderDrawerCollection__row">
    <div class="HeaderDrawerCollection__cta">
<a href="/collections/all-products" class="Cta  btn Cta--dropdown-collection">
    View All
  </a></div>
  </div>
</div>

      </div>
     
      <div class="HeaderDesktopDrawer__section HeaderDesktopDrawer__collection-drawer js-desktop-drawer-section" data-section-type="sets"> 
<div class="HeaderDrawerCollection">
  <div class="HeaderDrawerCollection__row">
    <ul class="HeaderDrawerCollection__items">

       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-color-set" title="View The Color Set" aria-label="View The Color Set">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7779711484090/1716351386178/Color-Set-(1).png?v=1716351386178&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7779711484090/1716351386178/Color-Set-(1).png?v=1716351386178&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Color Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Cheeks &amp; Lips
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-polished-set" title="View The Polished Set" aria-label="View The Polished Set">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7781970378938/1716351416305/Polished-Set-(1).png?v=1716351416305&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7781970378938/1716351416305/Polished-Set-(1).png?v=1716351416305&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Polished Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Everyday Essentials
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/five-minute-morning" title="View Five Minute Morning" aria-label="View Five Minute Morning">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/6626268905658/1619199395035/FMM.png?v=1712687395092&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/6626268905658/1619199395035/FMM.png?v=1712687395092&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Five Minute Morning
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              The Core Collection
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-summer-set" title="View The Summer Set" aria-label="View The Summer Set">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7640263098554/1712687202974/SummerSet-Nav.png?v=1712687202974&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7640263098554/1712687202974/SummerSet-Nav.png?v=1712687202974&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Summer Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              S/S ‘24 Essentials
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-box-set" title="View The Box Set" aria-label="View The Box Set">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7563157209274/1708553890312/Box-Set.png?v=1712687366987&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7563157209274/1708553890312/Box-Set.png?v=1712687366987&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Box Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              SIGNATURE LIP MATTES
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-full-collection" title="View The Full Collection" aria-label="View The Full Collection">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7169488191674/1692678106273/Full-Collection.png?v=1712687409479&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7169488191674/1692678106273/Full-Collection.png?v=1712687409479&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Full Collection
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Every MERIT product
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-eye-set" title="View The Eye Set" aria-label="View The Eye Set">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/6627144794298/1692677916611/Eye-Set.png?v=1712687426663&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/6627144794298/1692677916611/Eye-Set.png?v=1712687426663&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Eye Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Brows, Lashes &amp; Color
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-prep-set" title="View The Prep Set" aria-label="View The Prep Set">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7226415939770/1665012228123/Prep-Set.png?v=1712687444079&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7226415939770/1665012228123/Prep-Set.png?v=1712687444079&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Prep Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Skin Essentials
            </div>
          </a>
        </li>
      

    </ul>
  </div>

  <div class="HeaderDrawerCollection__row">
    <div class="HeaderDrawerCollection__cta">
<a href="/collections/sets" class="Cta  btn Cta--dropdown-collection">
    View Sets
  </a></div>
  </div>
</div>

      </div>
     
      <div class="HeaderDesktopDrawer__section HeaderDesktopDrawer__collection-drawer js-desktop-drawer-section" data-section-type="complexion"> 
<div class="HeaderDrawerCollection">
  <div class="HeaderDrawerCollection__row">
    <ul class="HeaderDrawerCollection__items">

       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/great-skin-serum" title="View Great Skin" aria-label="View Great Skin">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7183477964986/1663334232437/Great-Skin.png?v=1712681446488&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7183477964986/1663334232437/Great-Skin.png?v=1712681446488&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Great Skin
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Instant Glow Serum
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-minimalist" title="View The Minimalist" aria-label="View The Minimalist">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663763726493/1606346452951/Minimalist.png?v=1712681481513&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663763726493/1606346452951/Minimalist.png?v=1712681481513&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Minimalist
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Perfecting Complexion Stick
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/brush-no-1" title="View Brush No.1" aria-label="View Brush No.1">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663760056477/1606346441837/Brush-No-1.png?v=1712681298345&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663760056477/1606346441837/Brush-No-1.png?v=1712681298345&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Brush No.1
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Blending Brush
            </div>
          </a>
        </li>
      

    </ul>
  </div>

  <div class="HeaderDrawerCollection__row">
    <div class="HeaderDrawerCollection__cta">
<a href="/collections/complexion" class="Cta  btn Cta--dropdown-collection">
    View Complexion
  </a></div>
  </div>
</div>

      </div>
     
      <div class="HeaderDesktopDrawer__section HeaderDesktopDrawer__collection-drawer js-desktop-drawer-section" data-section-type="cheeks"> 
<div class="HeaderDrawerCollection">
  <div class="HeaderDrawerCollection__row">
    <ul class="HeaderDrawerCollection__items">

       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/flush-balm" title="View Flush Balm" aria-label="View Flush Balm">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663762251933/1606346448588/Flush-Balm.png?v=1712681416542&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663762251933/1606346448588/Flush-Balm.png?v=1712681416542&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Flush Balm
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Cheek Color
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/day-glow" title="View Day Glow" aria-label="View Day Glow">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663767068829/1606346446165/Day-Glow.png?v=1712681381744&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663767068829/1606346446165/Day-Glow.png?v=1712681381744&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Day Glow
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Highlighting Balm
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/bronze-balm" title="View Bronze Balm" aria-label="View Bronze Balm">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7152417112250/1660655900902/Bronze-Balm.png?v=1712681213094&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7152417112250/1660655900902/Bronze-Balm.png?v=1712681213094&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Bronze Balm
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Sheer Bronzer
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-color-set" title="View The Color Set" aria-label="View The Color Set">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7779711484090/1716351386178/Color-Set-(1).png?v=1716351386178&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7779711484090/1716351386178/Color-Set-(1).png?v=1716351386178&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              The Color Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Cheeks &amp; Lips
            </div>
          </a>
        </li>
      

    </ul>
  </div>

  <div class="HeaderDrawerCollection__row">
    <div class="HeaderDrawerCollection__cta">
<a href="/collections/cheeks" class="Cta  btn Cta--dropdown-collection">
    View Cheeks
  </a></div>
  </div>
</div>

      </div>
     
      <div class="HeaderDesktopDrawer__section HeaderDesktopDrawer__collection-drawer js-desktop-drawer-section" data-section-type="eyes"> 
<div class="HeaderDrawerCollection">
  <div class="HeaderDrawerCollection__row">
    <ul class="HeaderDrawerCollection__items">

       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/solo-shadow" title="View Solo Shadow" aria-label="View Solo Shadow">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7410780930234/1692110116141/Solo-Shadow.png?v=1712681564539&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7410780930234/1692110116141/Solo-Shadow.png?v=1712681564539&amp;options=w_200&quot;);">
     </div>
  </div>
</div>
</div> 
            <div class="HeaderDrawerCollection__item-title mh8">
              Solo Shadow
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Matte Eye Color
            </div>
          </a>
        </li>
       
        <li class="HeaderDrawerCollection__item">
          <a href="/products/brush-no-2" title="View Brush No. 2" aria-label="View Brush No. 2">             <div class="HeaderDrawerCollection__item-image">

<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
 
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7395712860346/1692054109502/Brush-No-2.png?v=1712681324233&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7395712860346/1692054109502/Brush-No-2.png?v=1712681324233&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              Brush No. 2
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Eyeshadow Brush
            </div>
          </a>
        </li>
        <li class="HeaderDrawerCollection__item">
          <a href="/products/clean-lash" title="View Clean Lash" aria-label="View Clean Lash">
                        <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
    <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663765430429/1606346444084/Clean-Lash.png?v=1712681354676&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663765430429/1606346444084/Clean-Lash.png?v=1712681354676&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              Clean Lash
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Lengthening Mascara
            </div>
          </a>
        </li>
<li class="HeaderDrawerCollection__item">
          <a href="/products/brow-1980" title="View Brow 1980" aria-label="View Brow 1980">
                        <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
    <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
  <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663764545693/1606346439475/Brow-1980.png?v=1712681250511&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663764545693/1606346439475/Brow-1980.png?v=1712681250511&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              Brow 1980
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Volumizing Pomade
            </div>
          </a>
        </li>
      <li class="HeaderDrawerCollection__item">
          <a href="/products/the-eye-set" title="View The Eye Set" aria-label="View The Eye Set">            
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
  <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/6627144794298/1692677916611/Eye-Set.png?v=1712687426663&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/6627144794298/1692677916611/Eye-Set.png?v=1712687426663&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              The Eye Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Brows, Lashes &amp; Color
            </div>
          </a>
        </li>
    </ul>
  </div>
  <div class="HeaderDrawerCollection__row">
    <div class="HeaderDrawerCollection__cta">
<a href="/collections/eyes" class="Cta  btn Cta--dropdown-collection">
    View Eyes
  </a></div>
  </div>
</div>
      </div>
      <div class="HeaderDesktopDrawer__section HeaderDesktopDrawer__collection-drawer js-desktop-drawer-section" data-section-type="lips">
<div class="HeaderDrawerCollection">
  <div class="HeaderDrawerCollection__row">
    <ul class="HeaderDrawerCollection__items">
<li class="HeaderDrawerCollection__item">
          <a href="/products/signature-lip" title="View Signature Lip" aria-label="View Signature Lip">
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
<div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/6976925073594/1644425138891/Signature-Lip.png?v=1712681536436&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/6976925073594/1644425138891/Signature-Lip.png?v=1712681536436&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              Signature Lip
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Lightweight Lipstick
            </div>
          </a>
        </li>
        <li class="HeaderDrawerCollection__item">
          <a href="/products/shade-slick" title="View Shade Slick" aria-label="View Shade Slick">
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
  <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663769133213/1606346450911/Shade-Slick.png?v=1712681505637&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663769133213/1606346450911/Shade-Slick.png?v=1712681505637&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              Shade Slick
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Tinted Lip Oil
            </div>
          </a>
        </li>
      <li class="HeaderDrawerCollection__item">
          <a href="/products/the-color-set" title="View The Color Set" aria-label="View The Color Set">
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7779711484090/1716351386178/Color-Set-(1).png?v=1716351386178&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7779711484090/1716351386178/Color-Set-(1).png?v=1716351386178&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              The Color Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Cheeks &amp; Lips
            </div>
          </a>
        </li>
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-box-set" title="View The Box Set" aria-label="View The Box Set">
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7563157209274/1708553890312/Box-Set.png?v=1712687366987&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7563157209274/1708553890312/Box-Set.png?v=1712687366987&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
      <div class="HeaderDrawerCollection__item-title mh8">
              The Box Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              SIGNATURE LIP MATTES
            </div>
          </a>
        </li>
    </ul>
  </div>
  <div class="HeaderDrawerCollection__row">
    <div class="HeaderDrawerCollection__cta">
<a href="/collections/lips" class="Cta  btn Cta--dropdown-collection">
    View Lips
  </a></div>
  </div>
</div>
      </div>
      <div class="HeaderDesktopDrawer__section HeaderDesktopDrawer__collection-drawer js-desktop-drawer-section" data-section-type="new">
<div class="HeaderDrawerCollection">
  <div class="HeaderDrawerCollection__row">
    <ul class="HeaderDrawerCollection__items">
<li class="HeaderDrawerCollection__item">
          <a href="/products/signature-lip" title="View Signature Lip" aria-label="View Signature Lip">
                        <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
    <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/6976925073594/1644425138891/Signature-Lip.png?v=1712681536436&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/6976925073594/1644425138891/Signature-Lip.png?v=1712681536436&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
      <div class="HeaderDrawerCollection__item-title mh8">
              Signature Lip
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Lightweight Lipstick
            </div>
          </a>
        </li>
      <li class="HeaderDrawerCollection__item">
          <a href="/products/the-color-set" title="View The Color Set" aria-label="View The Color Set">
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
  <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7779711484090/1716351386178/Color-Set-(1).png?v=1716351386178&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7779711484090/1716351386178/Color-Set-(1).png?v=1716351386178&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              The Color Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Cheeks &amp; Lips
            </div>
          </a>
        </li>
      <li class="HeaderDrawerCollection__item">
          <a href="/products/the-polished-set" title="View The Polished Set" aria-label="View The Polished Set">
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7781970378938/1716351416305/Polished-Set-(1).png?v=1716351416305&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7781970378938/1716351416305/Polished-Set-(1).png?v=1716351416305&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              The Polished Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Everyday Essentials
            </div>
          </a>
        </li>
        <li class="HeaderDrawerCollection__item">
          <a href="/products/day-glow" title="View Day Glow" aria-label="View Day Glow">
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/5663767068829/1606346446165/Day-Glow.png?v=1712681381744&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/5663767068829/1606346446165/Day-Glow.png?v=1712681381744&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              Day Glow
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              Highlighting Balm
            </div>
          </a>
        </li>
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-summer-set" title="View The Summer Set" aria-label="View The Summer Set">
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true">  
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">
<div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7640263098554/1712687202974/SummerSet-Nav.png?v=1712687202974&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7640263098554/1712687202974/SummerSet-Nav.png?v=1712687202974&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              The Summer Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              S/S ‘24 Essentials
            </div>
          </a>
        </li>
        <li class="HeaderDrawerCollection__item">
          <a href="/products/the-box-set" title="View The Box Set" aria-label="View The Box Set">
            <div class="HeaderDrawerCollection__item-image">
<div class="Media is-loaded" data-component="Media" data-autoplay="true" data-prevent-video-load="false" data-mounted="true"> 
  <div class="Media__aspect aspect-child" style="padding-bottom: 133.33333333333334%">  
      <div class="Media__object accentuate js-media-object js-media-object-preload" data-src="https://cld.accentuate.io/7563157209274/1708553890312/Box-Set.png?v=1712687366987&amp;options=w_200" role="img" aria-label=" decorative image" style="background-image: url(&quot;https://cld.accentuate.io/7563157209274/1708553890312/Box-Set.png?v=1712687366987&amp;options=w_200&quot;);">
    </div>
  </div>
</div>
</div>
            <div class="HeaderDrawerCollection__item-title mh8">
              The Box Set
            </div>
            <div class="HeaderDrawerCollection__item-description sub2">
              SIGNATURE LIP MATTES
            </div>
          </a>
        </li>
    </ul>
  </div>
  <div class="HeaderDrawerCollection__row">
    <div class="HeaderDrawerCollection__cta">
<a href="/collections/new" class="Cta  btn Cta--dropdown-collection">
    View New
  </a></div>
  </div>
</div>
      </div>
  <div class="HeaderDesktopDrawer__section HeaderDesktopDrawer__currency-drawer js-desktop-drawer-section" data-section-type="currency">
    <div class="HeaderDrawerCurrency ">
  <div class="HeaderDrawerCurrency__inner">
    <div class="HeaderDrawerCurrency__spacer">
    </div>
    <div class="HeaderDrawerCurrency__spacer">
    </div>
    <div class="HeaderDrawerCurrency__dropdown">
      <div class="HeaderDrawerCurrency__dropdown-inner">
<div class="GlobaleCurrencySwitcher desktop" data-component="GlobaleCurrencySwitcher" data-mounted="true">  
    <form method="post" action="/localization" id="localization_form--desktop" accept-charset="UTF-8" class="GlobaleCurrencySwitcher__form js-globaleCurrencyForm" enctype="multipart/form-data"><input type="hidden" name="form_type" value="localization"><input type="hidden" name="utf8" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="return_to" value="/products/great-skin-serum">
      <ul id="CountryList--desktop" class="GlobaleCurrencySwitcher__list js-globaleCountrySelect">
            <li class="GlobaleCurrencySwitcher__item">
              <a class="GlobaleCurrencySwitcher__link sub2 js-country-link" href="#" data-value="CA">
                CAD
              </a>
            </li>
          <li class="GlobaleCurrencySwitcher__item">
              <a class="GlobaleCurrencySwitcher__link sub2 js-country-link" href="#" data-value="GB">
                GBP
              </a>
            </li>
            <li class="GlobaleCurrencySwitcher__item">
              <a class="GlobaleCurrencySwitcher__link sub2 js-country-link" href="#" aria-current="true" data-value="US">
                USD
              </a>
            </li>
      </ul>
      <input class="js-country-code" type="hidden" name="country_code" value="US">
      <button hidden="" class="GlobaleCurrencySwitcher__submit" type="submit">
        Ok
      </button>
    </form>
</div>
        <div class="HeaderDrawerCurrency__list-spacer">
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
</div>
</{% if section.settings.sticky_header_type != 'none' %}sticky-header{% else %}div{% endif %}>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme, desktop_menu_type: section.settings.menu_type_desktop -%}
{%- endif -%}

{% javascript %}
  class StickyHeader extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.header = document.querySelector('.section-header');
      this.headerIsAlwaysSticky = this.getAttribute('data-sticky-type') === 'always' || this.getAttribute('data-sticky-type') === 'reduce-logo-size';
      this.headerBounds = {};

      this.setHeaderHeight();

      window.matchMedia('(max-width: 990px)').addEventListener('change', this.setHeaderHeight.bind(this));

      if (this.headerIsAlwaysSticky) {
        this.header.classList.add('shopify-section-header-sticky');
      };

      this.currentScrollTop = 0;
      this.preventReveal = false;
      this.predictiveSearch = this.querySelector('predictive-search');

      this.onScrollHandler = this.onScroll.bind(this);
      this.hideHeaderOnScrollUp = () => this.preventReveal = true;

      this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.addEventListener('scroll', this.onScrollHandler, false);

      this.createObserver();
    }

    setHeaderHeight() {
      document.documentElement.style.setProperty('--header-height', `${this.header.offsetHeight}px`);
    }

    disconnectedCallback() {
      this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
      window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
      let observer = new IntersectionObserver((entries, observer) => {
        this.headerBounds = entries[0].intersectionRect;
        observer.disconnect();
      });

      observer.observe(this.header);
    }

    onScroll() {
      const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

      if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

      if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (this.preventHide) return;
        requestAnimationFrame(this.hide.bind(this));
      } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
        this.header.classList.add('scrolled-past-header');
        if (!this.preventReveal) {
          requestAnimationFrame(this.reveal.bind(this));
        } else {
          window.clearTimeout(this.isScrolling);

          this.isScrolling = setTimeout(() => {
            this.preventReveal = false;
          }, 66);

          requestAnimationFrame(this.hide.bind(this));
        }
      } else if (scrollTop <= this.headerBounds.top) {
        this.header.classList.remove('scrolled-past-header');
        requestAnimationFrame(this.reset.bind(this));
      }

      this.currentScrollTop = scrollTop;
    }

    hide() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
      this.closeMenuDisclosure();
      this.closeSearchModal();
    }

    reveal() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.add('shopify-section-header-sticky', 'animate');
      this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
      if (this.headerIsAlwaysSticky) return;
      this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
      this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
      this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
      this.searchModal = this.searchModal || this.header.querySelector('details-modal');
      this.searchModal.close(false);
    }
  }

  customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.header.settings.logo_position.options__4.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label",
      "info": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "menu_type_desktop",
      "options": [
        {
          "value": "dropdown",
          "label": "t:sections.header.settings.menu_type_desktop.options__1.label"
        },
        {
          "value": "mega",
          "label": "t:sections.header.settings.menu_type_desktop.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.header.settings.menu_type_desktop.options__3.label"
        }
      ],
      "default": "dropdown",
      "label": "t:sections.header.settings.menu_type_desktop.label",
      "info": "t:sections.header.settings.menu_type_desktop.info"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        },
        {
          "value": "reduce-logo-size",
          "label": "t:sections.header.settings.sticky_header_type.options__4.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__1.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
      {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "options": [
        {
          "value": "center",
          "label": "t:sections.header.settings.mobile_logo_position.options__1.label"
        },
        {
          "value": "left",
          "label": "t:sections.header.settings.mobile_logo_position.options__2.label"
        }
      ],
      "default": "center",
      "label": "t:sections.header.settings.mobile_logo_position.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
